body{
font-size:  15px;
background-color: hsl(0, 0%, 95%);
justify-content: center;

display: flex;

}
h1{
color: hsla(0, 0%, 100%, 0.75);
margin-bottom: 4rem;
font-family: 'Big Shoulders Display', cursive;

}
h4{
font-family: 'Lexend Deca', sans-serif;
letter-spacing: 2;
}
p{
color: hsla(0, 0%, 100%, 0.75);
font-family: 'Lexend Deca', sans-serif;
}
button{

  margin-top:  3rem ;
padding: 0rem 3rem;
border-radius: 50px;

background-color: hsl(0, 0%, 95%);

border: 2px solid hsl(0, 0%, 95%);
}
.btn-luxury{
  color: hsl(179, 100%, 13%);
}
.btn-suvs{
  color: hsl(184, 100%, 22%);
  margin-top: 4rem;
}
.btn-sedans{
  color: hsl(31, 77%, 52%);
}
button:hover{
  background-color: Transparent;
  color: hsl(0, 0%, 95%);


}

.row{
margin-top: 2rem;
display: flex;

}

.cards{

height: 27rem;
 max-width: 17rem;
padding: 4% 5% 0 5% ;
}



#sedans{
  background-color: hsl(31, 77%, 52%);
border-top-left-radius: 8px;
border-bottom-left-radius: 8px;
}
#suvs{
  background-color:  hsl(184, 100%, 22%);

}
#luxury{
  background-color: hsl(179, 100%, 13%);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;

}
@media (max-width: 600px) {
  .row{
    flex-direction: column;

  }

  #sedans{

  border-top-left-radius: 8px;
  border-top-right-radius:  8px;
  border-bottom-left-radius: 0px;
  }

  #luxury{
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-top-right-radius: 0px;
  }

}
